<meta charset="utf-8"/>
<title>
  <%= title %>
</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport"/>

<%= raw(meta_data_tags) %>
<%= canonical_tag(current_store.url) %>
<%= csrf_meta_tags %>
<%= render 'spree/shared/paths' %>
<%= render partial: 'shared/rollbar', formats: :js unless Rails.env.development? %>
<%= yield :head %>
