<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class='<%= "#{controller_name}" + " " + "#{controller_name}" + "-" + "#{action_name}" %>'>
    <%= render 'spree/shared/google_analytics.js' %>
    <main id="page">
      <div class="container-fluid">
        <%= flash_messages %>
      </div>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
