!!! 5
%html
  %head
    = render 'shared/head'
  %body{class: controller_name + ' ' + controller_name + '-' + action_name}
    = render 'spree/shared/google_analytics.js'

    = react_component 'HeaderProvider', {}, { prerender: false }

    %main#page
      .container-fluid
        = flash_messages
      .container-fluid
        = yield

    = react_component 'Footer', {}, { prerender: false }

    - if Rails.env.development?
      = react_component 'DevToolsProvider'
