!!! 5
%html
  %head
    = render 'shared/head'
  %body{class: controller_name + ' ' + controller_name + '-' + action_name}
    = render 'spree/shared/google_analytics.js'

    = render 'shared/header'

    %main#page
      .container-fluid
        = flash_messages
      .container-fluid
        = yield

    = render 'shared/footer'
    = react_component 'Dummy', { name: 'John Doe' }, { prerender: true }

    - if Rails.env.development?
      = react_component 'DevTools'
