
<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class='<%= "#{controller_name}" + " " + "#{controller_name}" + "-" + "#{action_name}" %>'>
    <%= render 'spree/shared/google_analytics.js' %>
    <%= yield %>

    <div id='root'>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
