<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class='<%= "#{controller_name}" + " " + "#{controller_name}" + "-" + "#{action_name}" %>'>
    <%= render 'spree/shared/google_analytics.js' %>
    <%= react_component 'HeaderProvider', {}, { prerender: false } %>
    <main id="page">
      <div class="container-fluid">
        <%= flash_messages %>
      </div>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>
    <%= react_component 'Footer', {}, { prerender: false } %>
    <% if Rails.env.development? %>
      <%= react_component 'DevToolsProvider' %>
    <% end %>
  </body>
</html>
