
<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class='<%= "#{controller_name}" + " " + "#{controller_name}" + "-" + "#{action_name}" %>'>
    <%= render 'spree/shared/google_analytics.js' %>
    <%= yield %>

    <%= react_component 'Store', { sampleReducer: { name: 'Default Name' } }, { prerender: true } %>
    <%= react_component 'HelloWorldProvider', {}, { prerender: true } %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </body>
</html>
